* {
  margin: 0;
  padding: 0;
}

.body {
  background-image: url("./asset/photo.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.container {
  background: transparent;
  padding: 30px 40px;
  /* padding: auto; */
  border-radius: 15px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 350px;
}

.search_box {
  color: white;
}
#cityName {
  text-align: center;
  min-height: 30px;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  opacity: 0.5;
  outline: none;
}

#cityName:focus {
  outline: none;
  opacity: 0.66;
}

#cityName:hover {
  opacity: 0.66;
}
#getWeatherBtn {
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  border: none;
  min-height: 30px;
  border-radius: 5px;
  opacity: 0.6;
  margin-left: 4px;
}
#getWeatherBtn:hover {
  opacity: 0.7;
}
.weather-info {
  margin-top: 20px;
  font-size: larger;
}

.weather-info img {
  width: 100px;
}

.weather-info h2 {
  margin-top: 10px;
  font-size: 25px;
}

.weather-info p {
  margin-top: 5px;
  font-size: 20px;
}
@media (max-width: 1700px) {
  .container {
    color: white;
    box-shadow: 0 5px 20px rgba(170, 168, 165, 0.5);
  }
}
